@media only screen and (max-width: 600px) {
    header{margin: 10% auto 0px auto; width: 80%;}
    section{margin: 0px auto 40px auto; width: 80%;}
}

 a{color: #66D9EF;}
 body{background-color: #272822; color: #F8F8F2; font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 9pt; font-weight: lighter; text-align: center;}
 footer{margin: 10% auto 0px auto;}
 h1{font-size: 14pt;}
 h2{font-size: 12pt;}
 header{margin: 15% auto 0px auto; width: 40%;}
 p{line-height: 140%; text-align: left;}
 p > #description {max-width: 400px; min-width: 200px;}
 section{margin: 0px auto 40px auto; width: 40%;}
 span{display:block; line-height:125%;}
 span#copy{text-align: center;}
 ul{text-align: center; list-style-type: none;}
 table{text-align: center; margin: 0 auto 0 auto;}
 tbody{text-align:center;}
 td{text-align: left;}

 .center{text-align: center;}
